<div class="row">
  <div class="col-md-8">
  </div>

<h2>Your To-Do List </h2>  
  
<table class="table table-bordered">
  <%= render @items %>
</table>

</div>

<div class="row">
  <div calss="col-md-12">
    <div class="new-items">
      <%= render partial: 'items/form', locals: { user:@user, item: @item } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
      <p><%= current_user.name || current_user.email %></p>
    <p>  created <%= time_ago_in_words(current_user.created_at) %> ago </p>
    <p>  last time signed in <%= (current_user.last_sign_in_at) %></p>

   </div>
</div>
    
